- model_class = User
/- session[:return_to] = request.referer
/- logger.debug 'request.referer:'
/- logger.debug request.referer

.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= "User"
      %th      
  %tbody
    - @users.each do |user|
      %tr
        - if user!=current_user
          %td= link_to user.login , user_path(user)
          - if current_user.can_add_friend?(user)
            %td= link_to "Add Friend" , friendships_path(:friend_id => user), :method => :post
          - else
            %td

       
